 body > header {
  background-color: goldenrod;
  background-image: url("../images/black-scales.png");
  color: white;
  padding-top: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}