header {
  background-color: gold;
  background-image: url("../images/black-scales.png");
  color: white;
  width: 100vw;
  padding-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}