nav{
  background-color: none;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

nav span.logo {
  font-family: 'Bungee', sans-serif;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.write-tweet i{
  color: red;
}

